<div class="container-fluid">
  <div class="row">
    <div class="col text-center">
      <h1 class="my-5">Congratulations</h1>
      <div>
        <div class="mt-5 form-group">
          {{#link-to "inside" tagName="button" class="btn btn-primary px-4 shadow-sm"}}
            Continue to app
          {{/link-to}}
        </div>
      </div>
    </div>
  </div>
</div>